
<form  #saveForm="ngForm" (ngSubmit)="onSubmit(saveForm)" class="form"  (clickOutside)='onExitEntryView($event)'>
    <div class="form__exitIconWrapper">
        <svg class="form__exitIcon" (click)='onExitEntryView($event)'>  <use xlink:href="/assets/symbol-defs.svg#icon-clear"></use> </svg> 
    </div>

    <div class="form__body">

        <div class="formGroup">
            <div class="formGroup__body">
                <label for="spent"> Name </label>
                <input type="text" name="name" id="name" [(ngModel)]='name' required>
            </div>
            <div class="seperationLine"></div>
        </div>


        <div class="formGroup">
            <div class="formGroup__body">
                <label for="city"> City </label>
                <input type="text" name="city" id="city" [(ngModel)]='city' required>
            </div>
            <div class="seperationLine" ></div>
        </div>


        <div class="formGroup">
            <div class="formGroup__body">
                <label for="country"> Country </label>
                <input type="text" name="country" id="country" [(ngModel)]='country' required>
            </div>
            <div class="seperationLine" ></div>
        </div>


        <div class="formGroup">
            <div class="formGroup__body">
                <label for="postalCode"> Postal Code </label>
                <input type="number" name="postalCode" id="postalCode" [(ngModel)]='postalCode' required>
            </div>
            <div class="seperationLine" ></div>
        </div>
        

        <div class="formGroup">
            <div class="formGroup__body">
                <label for="street"> Street </label>
                <input type="text" name="street" id="street" [(ngModel)]='street' required>
            </div>
            <div class="seperationLine" ></div>
        </div>


        <div class="formGroup">
            <div class="formGroup__body">
                <label for="houseNr"> House Nr° </label>
                <input type="houseNr" name="houseNr" id="houseNr" [(ngModel)]='houseNr' required>
            </div>
            <div class="seperationLine" ></div>
        </div>


        <div class="formGroup ">
            <div class="formGroup__body">
                <label for="phone"> Phone </label>
                <input type="phone" name="phone" id="phone" [(ngModel)]='phone' required>
            </div>
            <div class="seperationLine"></div>
        </div>

<!--  -->
        <div class="formGroup hideFormGroup ">
            <div class="formGroup__body">
                <label for="phone"> Phone </label>
                <input type="phone" name="phone" id="phone" [(ngModel)]='phone' required>
            </div>
            <div class="seperationLine" ></div>
        </div>


    </div> <!-- form__body -->


    <div class="form__footer">
        <button type="submit" class="defaultButton saveButton" [disabled]="saveForm.invalid"> {{ modifyEntryView ? 'Update' : 'Save' }}  </button>

        <button class="defaultButton removeEntryButton form__footer__deleteButton"  *ngIf='modifyEntryView; else temp' 
        (click)='onDeleteTask()'>  Delete Permanently </button>
        <ng-template #temp></ng-template>
    </div>
    
</form>




<app-are-you-sure-you-wanna-exit></app-are-you-sure-you-wanna-exit>
    
