@import 'src/variables.scss' ;

* {
    // border: 1px solid black;
}

:host {
    z-index: 99999;
    // position: absolute;
    position: fixed;
    top:0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 0, 0, 0.479);
    @include flexCenter;
    font-size: 1.5rem;
}

.container {
    // z-index: 99999;
    // // position: absolute;
    // position: fixed;
    // top:0;
    // right: 0;
    // height: 100vh;
    // width: 100vw;
    // background-color: rgba(255, 0, 0, 0.479);
    // @include flexCenter;
    // font-size: 1.5rem;

}



.form {
    border-radius: 5px;
    background-color: $lightColor-main ;
    border:1px solid rgba(0, 0, 0, 0.363);
    padding: 2rem 3rem;
    width : 100rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // flex:0 0 66%;

    & > *:not(:last-child) { margin-bottom: 3rem; }

    &__ExitLogo-container {
        position: relative;
        height: 3rem;
        width: 100%;
        margin-bottom: 0rem !important;
    }

    &__ExitLogo {
        position: absolute;
        top: -66%;
        right: -3%;
        height: 2rem;
        width: 2rem;
        align-self: flex-end;
        cursor: pointer;
    }

    &__vertical-line {
        border-bottom: 1px solid rgba(129, 111, 111, 0.24);
        width: 20rem;
        align-self: center;
        margin-bottom: 1.5rem;
    }

    &__body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

  

    &__group {
        flex: 0 0 43%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &__body {
            @include flexCenter;
            margin-bottom: 1.5rem;
        }

        & label {
            width: 10rem;
            margin-right: 2rem;
            white-space: nowrap;
        }

        & input {
            width: 20rem;
            height: 3rem;
            padding: .5rem 1rem;
        }

        &:not(:nth-child(2n))  {margin-right: 3rem;}
        &:last-child form__vertical-line { 
                width:50rem;
        }
      
    }

    
    &__footer {
        // margin-top: 2rem;
        // margin-bottom: 3rem;
        width: 100%;
        @include flexCenter;
        position: relative;

        &__deleteButton{
           position: absolute;
           right:-3%;
           top: 85%;
        }
    }

} //form








// buttons ###############################################################################################################################


.removeTaskButton {
    background:linear-gradient(to bottom, #c94d4d 5%, #c94d4dcb 100%);
    color: white;
    text-shadow: none;
    box-shadow: none;
    font-size: 1rem;
	padding:4px 20px;

    
    &:not(.disable-button):hover {
        border:2px solid pink;
        // fons-size : 
    }
}

.saveButton[disabled] {
    opacity: 0.65;
    cursor: not-allowed;
    &:hover {
        border-color: transparent;
    }
}

// #######################################################################################################################################


.popupContainer {
    position: fixed;
    top:0;
    right:0;
    height: 100vh;
    width: 100vw;
    @include flexCenter;
    background-color:  rgba(0, 0, 0, 0.623);
}

.popup__body {
    margin-bottom: 33rem;
    border-radius: 7px;
    font-size: 1.5rem;
    background-color:pink;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 3rem;

    &__question {
        margin-bottom: 2rem;
    }

    &__optionsContainer {
        display: flex;
        align-items: center;
        justify-content: center;

    }
    
    &__button {
        &:first-child { margin-right: 3rem; }
        font-size: inherit;

    }

    
    

}



.hidden {
    opacity: 0;
    visibility: hidden;
}



/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


