<div class="container">

    <app-header></app-header>


    <div  class="filterContainer" [ngClass]="{ 'filterContainer-showFilter' : showFilterCrl }">
         <div class="filterHeader"> &nbsp;
            <button type="button" class="filterHeader__resetAllButton" (click)='resetAllFilters()'> Reset All </button>
            <svg class="filterHeader__ExitLogo" (click)='showFilterCrl = false; resetAllFilters()'>  <use xlink:href="/assets/symbol-defs.svg#icon-clear"></use> </svg> 
        </div>


        <div class="filterBody">
            <div class="monthFilter  filterCatWrapper">
                <div class="monthFilter__optionsWrapper  filterOptionsWrapper">
                    <div class="monthFilter__option  filterOptionsWrapper__filterOption"> Filter By Month 
                        <svg class="filterCatWrapper__trashBinLogo"  (click)="filterByMonthInput = []" >  <use xlink:href="/assets/symbol-defs.svg#icon-bin"></use> </svg>
                    </div>
                    <div class="monthFilter__option  filterOptionsWrapper__filterOption" *ngFor='let month of monthsArray' 
                    [ngClass]="{filterOptionSelected :  filterByMonthInput.indexOf(month) !== -1 }"  (click)='addOrRemoveMonth(month)' > {{ month }} </div>
                </div>
             </div>


             <div class="yearFilter  filterCatWrapper">
                <div class="yearFilter__optionsWrapper  filterOptionsWrapper">
                    <div class="yearFilter__option  filterOptionsWrapper__filterOption"> Filter By Year
                        <svg class="filterCatWrapper__trashBinLogo"  (click)="filterByYearInput = 0">  <use xlink:href="/assets/symbol-defs.svg#icon-bin"></use> </svg>
                    </div>
                    <div class="yearFilter__option  filterOptionsWrapper__filterOption" *ngFor='let year of yearsArray'  
                    [ngClass]="{ filterOptionSelected : filterByYearInput === year }" (click)='setYear(year)'  > {{ year }} </div>
                </div>
             </div>
    
    
             <div class="typeFilter  filterCatWrapper">
                <div class="typeFilter__optionsWrapper  filterOptionsWrapper">
                    <div class="typeFilter__option  filterOptionsWrapper__filterOption"> Filter By Type
                        <svg class="filterCatWrapper__trashBinLogo"  (click)="filterByTypeInput = []">  <use xlink:href="/assets/symbol-defs.svg#icon-bin"></use> </svg>
                    </div>
                    <div class="typeFilter__option  filterOptionsWrapper__filterOption" *ngFor='let type of typesArray'  
                    [ngClass]="{ filterOptionSelected : filterByTypeInput.indexOf(type) !== -1 }" (click)='addOrRemoveType(type)'> {{ type }} </div>
                </div>
             </div>

    
             <div class="alreadySentFilter  filterCatWrapper">
                <div class="alreadySentFilter__optionsWrapper  filterOptionsWrapper">
                    <div class="alreadySentFilter__option filterOptionsWrapper__filterOption">Already Sent
                        <svg class="filterCatWrapper__trashBinLogo"  (click)="filterByAlreadySent = undefined">  <use xlink:href="/assets/symbol-defs.svg#icon-bin"></use> </svg>
                    </div>
                    <div class="alreadySentFilter__option filterOptionsWrapper__filterOption" [ngClass]="{ filterOptionSelected : filterByAlreadySent }"  
                    (click)='setAlreadySent(true)'> Yes </div>
                    <div class="alreadySentFilter__option filterOptionsWrapper__filterOption" [ngClass]="{ filterOptionSelected : !filterByAlreadySent }" 
                    (click)='setAlreadySent(false)'>Not Yet </div>
                </div>
             </div>
    
        </div>  <!-- filterbody -->
    </div>  <!-- filterWrapper -->
    

    
    <table class="table" > 

        <thead>
            <tr>
                <th> ID </th>
                <th> Transaction</th>
                <th> Shoes Collected</th>
                <th> Watch Collected</th>
                <th> Other Item Collected</th>
                <th> Shipment</th>
                <th> Date </th>
                <th> Details</th>
                <th> Already Sent</th>
                <th>&nbsp;</th>
                <!-- <th class="extra-th">&nbsp;</th> -->
            </tr>
        </thead>
    
        <tbody *ngFor='let task of tasks | filterByYear: filterByYearInput  | filterByMonth: filterByMonthInput
                    | filterByType:filterByTypeInput | filterByAlreadySent:filterByAlreadySent as filteredTasks ; let i = index;' >

            <tr class="tbodyRow" >
                <td class="tbodyRow__itemID" >       {{ task.id }} </td>  
                <td class="tbodyRow__transaction">   <svg class="tbodyRow__checkmarkLogo" *ngIf="task.type === 'transaction'">  <use xlink:href="/assets/symbol-defs.svg#icon-checkmark"></use> </svg>  </td>
                <td class="tbodyRow__shoe">          <svg class="tbodyRow__checkmarkLogo" *ngIf="task.type === 'shoes'">  <use xlink:href="/assets/symbol-defs.svg#icon-checkmark"></use> </svg>        </td>
                <td class="tbodyRow__watch">         <svg class="tbodyRow__checkmarkLogo" *ngIf="task.type === 'watch'">  <use xlink:href="/assets/symbol-defs.svg#icon-checkmark"></use> </svg> </td>
                <td class="tbodyRow__other">         <svg class="tbodyRow__checkmarkLogo" *ngIf="task.type === 'other'">  <use xlink:href="/assets/symbol-defs.svg#icon-checkmark"></use> </svg> </td>
                <td class="tbodyRow__shipment">      <svg class="tbodyRow__checkmarkLogo" *ngIf="task.type === 'shipment'">  <use xlink:href="/assets/symbol-defs.svg#icon-checkmark"></use> </svg> </td>
                <td class="tbodyRow__date">          {{ task.date | filterDate }} </td>
                <td class="tbodyRow__details">       {{ task.details }} </td>
                <td class="tbodyRow__alreadySent">   <svg class="tbodyRow__checkmarkLogo" *ngIf="task.isItemAlreadySent">  <use xlink:href="/assets/symbol-defs.svg#icon-checkmark"></use> </svg> </td>
                <td class="editIconCell"  appTableStyle> 
                    <svg class="editIconCell__editTaskIcon"  [ngClass]="{ hideElementFromGuestUser : currentUser !== adminName}"  (click)='onModifyTask(task.id)'>
                        <use xlink:href="/assets/symbol-defs.svg#icon-document-edit"></use>
                    </svg> 
                </td>
            </tr>
            
            <tr class="monthRowWrapper" *ngIf="displayDateRow(i , filteredTasks)" >  
                <td colspan="9"> {{  filteredTasks[i + 1].date | filterDate  }} </td>
            </tr>
    
        </tbody>

    </table>


    <router-outlet></router-outlet>

</div>  <!-- container -->












