<div class="container" [ngClass]="{ hideNavBar : hideNavBar }"  >
  
  <div class="nav" (clickOutside)='clickedOutsideNav()'  (mouseenter)="mouseEnterNav()"  (mouseleave)="mouseLeaveNav()">

    <div class="nav__item tasks" [ngClass]="{ elementUnclickable : !clickInsideNav}"  
    routerLinkActive='activeItem'   routerLink="/tasks"  (click)="showLoadingSpinner('tasks')">
      <span class="nav__item__text" routerLinkActive='activeLogoAndText'> Tasks </span>
      <app-loading-spinner-login class="nav__item__spinner navbarView"  [ngClass]="{show : isLoading && module === 'tasks' }"  ></app-loading-spinner-login>
      <svg class="nav__item__icon" routerLinkActive='activeLogoAndText' [ngClass]="{'hidden' : isLoading && module === 'tasks' }" > 
        <use xlink:href="/assets/symbol-defs.svg#icon-clipboard-edit"></use>
      </svg>
    </div>


    <div class="nav__item balance" [ngClass]="{ elementUnclickable : !clickInsideNav}" 
    routerLinkActive='activeItem'  routerLink="/balance" (click)="showLoadingSpinner('balance')">
      <span class="nav__item__text"> Balance </span>
      <app-loading-spinner-login  class="nav__item__spinner navbarView"  [ngClass]="{show : isLoading && module === 'balance'}"   ></app-loading-spinner-login>
      <svg class="nav__item__icon"  routerLinkActive='activeLogoAndText' [ngClass]="{'hidden' : isLoading && module === 'balance' }"> 
        <use xlink:href="/assets/symbol-defs.svg#icon-money-bag"></use>
      </svg>
    </div>


    <div class="nav__item transactions" [ngClass]="{ elementUnclickable : !clickInsideNav}" 
    routerLinkActive='activeItem' (click)="showLoadingSpinner('transactions')"  routerLink="/transactions">
      <span class="nav__item__text" routerLinkActive='activeLogoAndText'> Transactions </span>
      <svg class="nav__item__icon" routerLinkActive='activeLogoAndText' [ngClass]="{'hidden' : isLoading && module === 'transactions' }" > 
        <use xlink:href="/assets/symbol-defs.svg#icon-credit-card"></use> 
      </svg>
    </div>


    <div class="nav__item addresses" [ngClass]="{ elementUnclickable : !clickInsideNav}" 
    routerLinkActive='activeItem'  routerLink="/address-book" (click)="showLoadingSpinner('address-book')">
      <span class="nav__item__text"> Address Book</span>
      <app-loading-spinner-login class="nav__item__spinner navbarView" [ngClass]="{show : isLoading && module === 'address-book'}" ></app-loading-spinner-login>
      <svg class="nav__item__icon" routerLinkActive='activeLogoAndText' [ngClass]="{'hidden' : isLoading && module === 'address-book' }" > 
        <use xlink:href="/assets/symbol-defs.svg#icon-home"></use>
       </svg>
    </div>


    <div class="nav__item logout" [ngClass]="{ elementUnclickable : !clickInsideNav}" (click)='onLogout()'>
      <span class="nav__item__text  logout__text"> Logout </span>
    </div>

  </div> <!-- nav -->
</div>  <!-- container -->

