@import 'src/variables.scss' ;
@import 'src/mixins.scss' ;



.container {
    z-index: 200;
    position: fixed;
    top:50%;
    left:0%;
    transform: translate(-75%, -50%);

    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.nav {
    border-top-right-radius: 1rem; 
    border-bottom-right-radius: 1rem; 
    cursor: pointer;
    width: fit-content;
    
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .45s all ease-out;
    position: relative;
    @include respond(phone) { font-size: 3rem }

    & > *:not(:last-child) {
        @include respond(phone) {  border-bottom: 1px solid rgba(0, 0, 0, 0.185) }
    }

    &:hover , &:active {
        transform: translateX(75%);
        background-color: $darkColor-main;
    }

    &:hover  &__item { opacity: 1; } 

    &__item {
        background-color: $darkColor-main;
        &:first-child {  border-top-right-radius: 1rem; }
        &:nth-last-child(2)  {  border-bottom-right-radius: 1rem; }
        transition: all .3s;
        outline: none;
        width: 100%;
        
        font-family: 'Merriweather Sans', sans-serif;
        @include flexCenter;
        padding: 1rem 2rem ;
        position: relative;
        opacity: 0.4;
        &:hover  &__text { opacity: 1;}
        @include respond(phone) { padding: 1.5rem 3rem }

        &__text , & svg { opacity: 0.4;}
        &__text {  margin-right: 2rem; }

        &__icon  {
            height:2rem;
            width:2rem;
            margin-left: auto;
            fill: currentColor;
            @include respond(phone) { height:3rem;  width:3rem }
        }

    }
}




// %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
// #ff6550   ,   #50ffa5  , #7950ff , #ffbc50

.tasks {
    color : #ff6550;
    &:hover  { background-color: #ffbc5052 !important; }
}
.nav:hover .activeItem.tasks { background-color: #ffbc5052; }
 

.balance {
    color : #ffbc50;
    &:hover { background-color: #7950ff54; color : #a07839; }
}
.nav:hover .activeItem.balance { background-color: #7950ff54; }


.addresses {
    color : #7950ff;
    &:hover { background-color: #ff64504b; }
}
.nav:hover .activeItem.addresses { background-color: #ff64504b;}


.transactions {
    color : #ff6550;
    &:hover { background-color: #ffbc5042;}
}
.nav:hover .activeItem.transactions { background-color: #ffbc5042;}



.logout {
    border-bottom-right-radius: 1rem !important;
    border-bottom-left-radius: 1rem;
    color : white;
    opacity: 1 !important;
    text-transform: uppercase;
    box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,0.75);
    position: absolute;
    bottom:1.5%;
    right:0;
    width: 10rem;
    transform: translate(-50%,105%);
    background-color: rgba(128, 128, 128, 0.767);
    @include flexCenter;
    &:hover { background-color: rgba(99, 80, 80, 0.705); }

    @include respond(phone) {
        width: 20rem;
        bottom: -22.5%;
        right: 5%;
        border-top-right-radius: 1rem;
    }

    &__text {
        margin:0;
        opacity: 1 !important;
    }
}
.nav:hover .activeItem.logout { background-color: yellow;}



app-loading-spinner-login {
    opacity: 0;
    position: absolute;
    top:50%;
    right:0%;
    transform: translate(-30%, -43%);
    @include respond(phone) {  transform: translate(-83%, -43%) }
}


// ###########################################################################################################################################

.activeLogoAndText {  opacity: 1 !important }

.elementUnclickable { pointer-events: none!important }

.activeItem {
    opacity: 1 !important;
    .nav__item tasks:hover & { background-color: red !important }
}

.hideNavBar { display: none }

.hidden { opacity: 0 !important }

.show { opacity: 1 !important }

