<div class="container" [ngClass]="{ 'hideNavBar' : hideNavBar === true}" >
  <div class="nav">

    <div class="nav__item tasks"  routerLinkActive='activeItem'     routerLink="/tasks">
      <span class="nav__item__text" routerLinkActive='activeLogoAndText'> Tasks </span>
      <svg class="tasks__logo" routerLinkActive='activeLogoAndText'>
        <use xlink:href="/assets/symbol-defs.svg#icon-clipboard-edit"></use>
      </svg>
    </div>

    <div class="nav__item balance"  routerLinkActive='activeItem'  routerLink="/balance">
      <span class="nav__item__text"> Balance </span>
      <svg class="balance__logo">
        <use xlink:href="/assets/symbol-defs.svg#icon-money-bag"></use>
      </svg>
    </div>

    <div class="nav__item transactions" routerLinkActive='activeItem'  routerLink="/transactions">
      <span class="nav__item__text" routerLinkActive='activeLogoAndText' > Transactions </span>
      <svg class="transactions__logo" routerLinkActive='activeLogoAndText'>
        <use xlink:href="/assets/symbol-defs.svg#icon-credit-card"></use>
      </svg>
    </div>

    <div class="nav__item addresses" routerLink="/address-book">
      <span class="nav__item__text"> Address Book</span>
      <svg class="addresses__logo">
        <use xlink:href="/assets/symbol-defs.svg#icon-home"></use>
      </svg>
    </div>


    
    <div class="nav__item logout"  (click)='onLogout()'>
      <span class="nav__item__text  logout__text"> Logout </span>
    </div>



  </div>

</div>
