@import 'src/variables.scss' ;
@import 'src/mixins.scss' ;


:host {
    z-index: 99999;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 0, 0, 0.479);
    position: fixed;
    top:0;
    right: 0;
    
    @include flexCenter;
    font-size: 1.5rem;
}


.form {
    border-radius: 5px;
    background-color: $lightColor-main ;
    border:1px solid rgba(0, 0, 0, 0.363);

    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;

    & > *:not(:last-child) { margin-bottom: 3rem; }

    &__exitIconWrapper {
        position: relative;
        height: 3rem;
    }

    &__exitIcon {
        position: absolute;
        top: -55%;
        right: -9%;
        height: 2rem;
        width: 2rem;
        align-self: flex-end;
        cursor: pointer;
    }

    &__seperationLine {
        border-bottom: 1px solid rgba(129, 111, 111, 0.24);
        width: 20rem;
        align-self: center;
    }

    &__group {
        display: flex;
        align-items: center;
        justify-content: space-between;

        & label {
            width: 10rem;
            margin-right: 3rem;
        }

        & input {
            width: 16rem;
            height: 3rem;
            padding: .5rem 1rem;
        }

        & textarea {
            width: 16rem;
            height:6rem;
            padding: .5rem 1rem;
        }
    }

    
    &__footer {
        margin-top: 2rem;
        margin-bottom: 3rem;
        @include flexCenter;
        position: relative;

        &__deleteButton{
           position: absolute;
           right:-9%;
           top: 168%;
           @include respond(tab-port) { top : 156% }
           @include respond(phone) { top : 147%; right:-9% }
        }
    }

} 




// #######################################################################################################################################






/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


