

<form  #saveForm="ngForm"  class="form"  (ngSubmit)="onSubmit(saveForm)"  (clickOutside)='onExitEntryView($event)'>
    <div class="form__exitIconWrapper">
        <svg class="form__exitIcon" (click)='onExitEntryView($event)'>  <use xlink:href="/assets/symbol-defs.svg#icon-clear"></use> </svg> 
    </div>

    <div class="form__group">
        <label for="spent"> Spent </label>
        <input type="number" name="spent" id="spent" [(ngModel)]='spent' >
    </div>


    <div class="form__seperationLine" ></div>


    <div class="form__group">
        <label for="received"> Received </label>
        <input type="number" name="received" id="received"  [(ngModel)]='received' >
    </div>


    <div class="form__seperationLine" ></div>


    <div class="form__group">
        <label for="details"> Details </label>
        <textarea  name="details" id="details" [(ngModel)]='details' required cols="5"></textarea>
    </div>


    <div class="form__footer">
        <button type="submit" class="defaultButton saveButton" [disabled]="saveForm.invalid"> {{ modifyEntryView ? 'Update' : 'Save' }}  </button>
        <button class="defaultButton removeEntryButton form__footer__deleteButton"  *ngIf='modifyEntryView; else temp' (click)='onDeleteTask()'>  Delete Permanently </button>
        <ng-template #temp></ng-template>
    </div>
        
</form>



<app-are-you-sure-you-wanna-exit></app-are-you-sure-you-wanna-exit>

    <!-- 
<div class="popupContainer" *ngIf='popupView' @popupWindowState>
    <div class="popup__body">
        <p  class="popup__body__question"> Are you sure U wanna exit ? </p>
        <div class="popup__body__optionsContainer">
            <button type="button" class="defaultButton popup__body__button" (click)='onPopupYes()'> Yes    </button>
            <button type="button" class="defaultButton popup__body__button" (click)='onPopupNo()' > Continue Editing</button>
        </div>
    </div> 
</div>  -->










