<div class="container">



    <div class="header">
        <button class="Tasks-default-btn headerButtons storeDataButton" 
            [ngClass]="{ 'hideElement' : currentUser !== adminName }" > Save Changes 
           <div class="header__saveLogo"> <svg [ngClass]="{ 'hideElement' : currentUser !== adminName}">  <use xlink:href="/assets/symbol-defs.svg#icon-upload"></use> </svg> </div>
        </button>

        <button class="Tasks-default-btn headerButtons addNewTaskButton" 
            [ngClass]="{ 'hideElement' : currentUser !== adminName}" (click)='onAddBalanceItem()'> Update Balance
            <div class="header__addLogo"> <svg>  <use xlink:href="/assets/symbol-defs.svg#icon-folder-add"></use> </svg>  </div>
        </button>

        <button class="Tasks-default-btn headerButtons filterButton" 
            (click)='showFilterCrl = true' > Filter
            <div class="header__filterLogo"> <svg>  <use xlink:href="/assets/symbol-defs.svg#icon-filter"></use> </svg> </div>
        </button>
    </div>

    
<!-- ############################################################################################################################################# -->
<!-- Filter ####################################################################################################################################### -->
    <div class="filterWrapper" [ngClass]="{'showFilter' : showFilterCrl === true}">

        <div class="filterHeader"> &nbsp;
           <button type="button" class="filterHeader__resetAllButton" (click)='resetAllFilters()' > Reset All </button>
           <svg class="filterHeader__ExitLogo" (click)='showFilterCrl = false'>  <use xlink:href="/assets/symbol-defs.svg#icon-clear"></use> </svg> 
       </div>


       <div class="filterBody">

           <div class="monthFilter  filterCatWrapper">
               <div class="monthFilter__optionsWrapper  filterOptionsWrapper">
                   <div class="monthFilter__option  filterOptionsWrapper__filterOption"> Filter By Month 
                       <svg class="filterCatWrapper__trashBinLogo"  (click)="filterByMonthInput = []" >  <use xlink:href="/assets/symbol-defs.svg#icon-bin"></use> </svg>
                   </div>
                   <div class="monthFilter__option  filterOptionsWrapper__filterOption" *ngFor='let month of monthsArray' [ngClass]="{'optionSelected' : filterByMonthInput.indexOf(month) !== -1 }"  (click)='addOrRemoveMonth(month)'  > {{ month }} </div>
               </div>
            </div>


            <div class="yearFilter  filterCatWrapper">
               <div class="yearFilter__optionsWrapper  filterOptionsWrapper">
                   <div class="yearFilter__option  filterOptionsWrapper__filterOption"> Filter By Year
                       <svg class="filterCatWrapper__trashBinLogo"  (click)="filterByYearInput = 0">  <use xlink:href="/assets/symbol-defs.svg#icon-bin"></use> </svg>
                   </div>
                   <div class="yearFilter__option  filterOptionsWrapper__filterOption" *ngFor='let year of yearsArray'   [ngClass]="{'optionSelected' : filterByYearInput === year }" (click)='setYear(year)'  > {{ year }} </div>
               </div>
            </div>
   
       </div>  <!-- filterbody -->
   </div>  <!-- filterWrapper -->
   




   <!-- Table ######################################################################################################################################## -->
<!-- ####################################################################################################################################################### -->
    <table class="table">

        <thead>
            <tr>
                <th>ID</th>
                <th>Date</th>
                <th>Spent</th>
                <th>Received</th>
                <th>Left</th>
                <th>Details</th>
                <th>&nbsp;</th>
            </tr>
        </thead>

        <tbody *ngFor='let item of balanceItemsList | filterByYear:filterByYearInput | filterByMonth: filterByMonthInput as filteredbalanceItemsList ; let i = index'>

            <tr class="tbodyRow">
                <td class="tbodyRow__id">        {{ item.id }} </td>
                <td class="tbodyRow__date">      {{ item.date | filterDate:true }} </td>
                <td class="tbodyRow__spent">     {{ item.spent | displayInEuro }} </td>
                <td class="tbodyRow__received">  {{ item.received | displayInEuro }} </td>
                <td class="tbodyRow__left">      {{ item.left | displayInEuro }}  </td>
                <td class="tbodyRow__details">   {{ item.details }}</td>
                <td class="editLogoCell" #logoCell  appBalanceTableStyle>
                    <svg class="editLogoCell__editTask-logo"  (click)='onModifyBalanceItem(item.id)' [ngClass]="{ 'hideElement' : currentUser !== adminName}" >
                        <use xlink:href="/assets/symbol-defs.svg#icon-document-edit"></use>
                    </svg> 
                </td> 
            </tr>
        
        <tr class="rowWrapper__month" *ngIf="displayDateRow(i , filteredbalanceItemsList)" >
            <td colspan="6"> {{  filteredbalanceItemsList[i + 1].date | filterDate  }} </td>
        </tr> 

        </tbody>



    </table>


    <router-outlet></router-outlet>

</div>


































<!-- <button (click)='store()' > storrrreee </button> -->



<!-- 

<button (click)='fixid()' > fix id </button>
 -->


<!-- ################################################################################################################# -->

<!-- 



<button (click)='extraction()'> extracttttttttttttttttttt </button>






 -->



