@import 'src/variables.scss' ;
@import 'src/mixins.scss' ;


:host { display : block }

.container {
    padding: 2rem 3rem;
    padding-top: 0rem;
    width: 100%;
    font-size: 1.4rem;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:  center;
}


// ##########################################################           Table           ####################################################################

.table {
    z-index: 80;
    width: 80%;
    @include respond(phone) { width: 100%}
    border: 1px solid $mediumColor-darker;
    align-self: center;
    border-right: none !important;
    border-collapse: collapse;
    
    position : relative;
    text-align: left;

    
    & thead {
        font-family: 'Merriweather Sans', sans-serif;
        font-style: italic;
        & tr { border-bottom:1px solid transparent }

        & th {
            position: -webkit-sticky;
            position: sticky;
            background-color: #d4e5b2;
            top: -.5rem ;
            
            font-size : 1.5rem;
            color: #000000;
            font-weight: bold;
            text-align: center;
            padding-top: 2rem;
            padding-bottom: 2rem;
        
            &:not(:last-child)::after {
                content: '';
                height: 100%;
                width: 100%;
                position: absolute;
                top:0;
                right:0;
                box-shadow: 3px 0px 0px 0px rgba(0,0,0,0.75); //border-right
            }
        
            &:not(:last-child)::before {
                content: '';
                height: 100%;
                width: 100%;
                position: absolute;
                top:0;
                right:0;
                box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.75); //border-bottom
            }
        
            &:last-child  {
                border:none;
                border-top:1px solid transparent;
                background-color: #c6ffec;
                @include respond(phone) { padding-right: 5rem }
            }
        }
    }

    & tbody {
        background-color: white;
        &:last-child tr {
            border-bottom:1px solid transparent;
            & > *:not(:last-child) { border-bottom:1px solid black !important }
        }
        
        .tbodyRow {
            &:hover { background-color: rgba(201, 166, 166, 0.158) }
            
            &__checkmarkLogo {
                height:1.8rem;
                width:1.8rem;
                fill: currentColor;
            }
    
            &__date { white-space: nowrap }
        }
    
    
    }

}


.table td, .table th {
    border: 1px solid $mediumColor-darker;
    padding: .5rem 1rem;
}

tr td { text-align: center }

.table tr:last-child td:first-child { border-bottom: none }


.monthRowWrapper {
    background: $darkColor-darker;
    font-size: 1.5rem;
    font-weight: bold;
    height:4rem;
}




//  ############################################################       filter stuff         ###################################################################
// Animatin the dropdown
@for $i from 2 through 13 {
    .monthFilter__option:nth-child( #{$i} ) {
        transform: translateY(calc((#{$i} * #{$filterOptionHeight * -1})  + 4rem ));
        z-index: calc( 3000 - #{ $i } ) !important;
    }
}


@for $i from 2 through 5 {
    .yearFilter__option:nth-child( #{$i} ) {
        transform: translateY(calc((#{$i} * #{$filterOptionHeight * -1}) + 4rem ));
        z-index:  calc( 3000 - #{ $i } ) !important;
    }
}



