@import 'src/variables.scss' ;
@import 'src/mixins.scss' ;


:host {
    display : block;
}



.container {
    padding: 2rem 3rem;
    padding-top: 0rem;
    position: relative;
    // background-color: yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:  center;
    font-size: 1.4rem;
}



.header {
    z-index: 100;
    background:linear-gradient(to bottom, #e5bab200 5%, #e5bab2 100%);
    box-shadow: 2px 2px 2px 0px rgba(189,134,189,1);

    border-radius: 7px;
    transition: all .5s;
    transform: translateY(-95%);
    // transform: translateY(-85%);
    &:hover , &:active { transform: translateY(0); }
    width:fit-content;
    align-self: flex-start;
    margin-left: -3rem;
    @include flexCenter;
    margin-bottom: -2.5rem;
    padding: 2rem 3rem;
    & > *:not(:last-child) {
        margin-right: 3rem;
        @include respond(phone) {
            margin-right: 0rem;
            margin-bottom: 3rem;
        }
    }

    @include respond(phone) {
        transform: translateY(-105%);
        // transform: translateY(-90%);
        padding: 1rem 1.5rem;
        flex-direction: column;
        align-items: stretch;
        margin-bottom: -15rem;
    }

    &:hover div , &:active div { transform: translate(0px, 0px) scale(1) }
    &:hover svg , &:active svg { fill : currentColor !important }

    &__logoWrapper {
        margin-left: auto;
        padding:0.5rem .5rem;
        transition: 0.5s;
        transition-delay: 0.18s;
        display: flex;
        justify-content:center ;
        align-items: center;
        // border:1px solid yellow;

        & svg { 
            cursor: pointer;
            transition: all 0.45s;
            margin-left: 1rem;
            height:2rem;
            width:2rem;
            fill:rgba(255, 0, 0, 0.5);
            margin-left: auto;
        }

        &:hover .header , &:active .header { transform: translateY(0); }
    }

    &__saveLogo    { transform: translate(-22rem, 6rem) scale(1.5); @include respond(tab-port) { transform: translate(-20rem, 6rem) scale(1.5) } }
    &__addLogo     { transform: translate(-46rem, 6rem) scale(1.5); @include respond(tab-port) { transform: translate(-44rem, 6rem) scale(1.5) } }
    &__filterLogo  { transform: translate(-70rem, 6rem) scale(1.5); @include respond(tab-port) { transform: translate(-68rem, 6rem) scale(1.5) } }

    &__filterLogo  { @include respond(phone) { transform: translate(-12.5rem, 6.3rem)  scale(1.5) } }
    &__saveLogo    { @include respond(phone) { transform: translate(-16.4rem, 20.3rem) scale(1.5) } }
    &__addLogo     { @include respond(phone) { transform: translate(-20.7rem, 13.2rem) scale(1.5) } }



}

.headerButtons {
    font-family: inherit;
	background:linear-gradient(to bottom, #2d8568 5%, #4caf8e 100%);
    // padding:1rem;
    color: white;
    text-shadow: none;
    border:none;
    transform: translate(0px , 0px);
    // box-shadow: 1px 1px 2px 1px rgba(179,127,179,1) !important;
    box-shadow: 1px 1px 2px 1px rgb(148, 96, 148) !important;
    @include flexCenter;
    width:25rem;

    &:active {
        transform: translate(1px , 1px);
        box-shadow: none;
    }
}



.table {
    border: 1px solid $mediumColor-darker;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    position : relative;
    border-right: none !important;
    z-index: 80;
    width: 80%;
}

tbody {
    background-color: white;


    &:last-child tr {
        border-bottom:1px solid transparent;

        & > *:not(:last-child) {
            border-bottom:1px solid black !important;
        }
    }

}

.tbodyRow {
    &:hover {
        background-color: rgba(201, 166, 166, 0.158);
    }
    
    &__checkmarkLogo {
        height:1.8rem;
        width:1.8rem;
        fill: currentColor;
    }

    &__date {
        white-space: nowrap;
    }



}


.table thead {
    font-family: 'Merriweather Sans', sans-serif;
    font-style: italic;
    // background: $darkColor-darker; //original
    // background-color: #d4e5b2;

    & tr {
        border-bottom:1px solid transparent;
    }


}

.table thead th {
    font-size : 1.5rem;
    font-weight: bold;
    color: #000000;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #d4e5b2;
    position: sticky;
    top: -.5rem ;

    &:not(:last-child)::after {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        top:0;
        right:0;
        box-shadow: 3px 0px 0px 0px rgba(0,0,0,0.75); //border-right
    }


    &:not(:last-child)::before {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        top:0;
        right:0;
        box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.75); //border-bottom
    }


    &:last-child {
        border:none;
        border-top:1px solid transparent;
        background-color: #c6ffec;
    }
}


.table td, .table th {
    border: 1px solid $mediumColor-darker;
    padding: .5rem 1rem;

}

tr td {
    text-align: center;
}

.table tr:last-child td:first-child {
    border-bottom: none;
}

.rowWrapper__month {
    // background-color: #d4e5b2; //original
    background: $darkColor-darker;

    font-size: 1.5rem;
    font-weight: bold;
    height:4rem;
}



tr:hover .editLogoCell__editTask-logo {
    fill : rgba(255, 0, 0, 1);
}


.editLogoCell {
    border: none !important;
    background-color: $lightColor-main;
    border-right: none;

    &__editTask-logo {
        // opacity: 0.5;
        // transform: scale(0.7);   // opacity && transform.scale : they make the logo appear on top of the sticky header !
        transition: all .2s;
        margin-left: -.5rem;
        cursor: pointer;
        height: 1.8rem;
        width: 1.8rem;
        fill : rgba(255, 0, 0, 0.26);

        @include respond(tab-land) {
            fill : rgba(255, 0, 0, 1);
        }
    }
}




// filter stuff ###############################################################################################################################
$filterOptionHeight : 4rem;

.filterWrapper {
    background:linear-gradient(to bottom, #e5bab244 5%, #bb8c83 100%);
    box-shadow: 2px 2px 2px 0px rgba(189,134,189,1);
    z-index: 90;
    transition: .5s ease-out;
    margin-bottom: -12rem;
    
    border-radius: 5px;
    font-size: 1.3rem;
    padding: 2rem 5rem;
    padding-top:0;
    height:11rem;
    display: flex;
    flex-direction: column;
    position: relative;
    width: fit-content;
    transform: translateY(-156%);
    @include respond(phone) {
        margin-bottom: -9rem;
        transform: translateY(-160%);
        font-size: 1.2rem;
        padding: 1rem 1.25rem;
        height: 9.5rem;
        align-self: flex-start;
    }


    .filterHeader {
        position: relative;
        margin-bottom: 4rem;
        @include respond(phone) {
            margin-bottom: 2rem;
        }

        &__ExitLogo {
            position: absolute;
            top: 0%;
            right: -12%;
            height: 2rem;
            width: 2rem;
            cursor: pointer;
            @include respond(phone) {
                top: -40%;
                right: -1.5%;
            }
        }
    
        &__resetAllButton {
            padding:.5rem 1rem;
            background-color: transparent;
            border:1px solid black;
            color: red;
            font-family: inherit;
            font-weight: bold;
            letter-spacing: 2px;
            text-transform: uppercase;
            border-radius: 3px;
            position: absolute;
            top:28%;
            left: -5%;
            cursor: pointer;
            border:2px solid red;
            outline:none;
            &:active {
                animation: resetAllButtonOnClick 2s;
                animation-timing-function: ease-out; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
            }

            @include respond(phone) {
                left: 0%;
                padding:.25rem .5rem;
                font-size: 0.8rem;
            }

        }
    }

    // %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
        
    .filterBody {
        white-space: nowrap;
        display: flex;
        align-items: stretch;
        & > *:not(:last-child) { 
            margin-right: 3rem;
            @include respond(phone) { margin-right: 1.5rem } 
        }
            
        .filterCatWrapper {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: stretch;
            
            &__trashBinLogo {
                height:2rem;
                width:2rem;
                position: absolute;
                fill: darken(white , 8%);
                top:0;
                right:0;
                transition: all 0.2s;

                &:hover {
                    fill:rgb(214, 54, 54);
                }
            }

                    
            .filterOptionsWrapper {
                display: flex;
                flex-direction: column;
                position: relative;
                transition: all 1s;
                clip-path: polygon(0 0, 100% 0, 100% $filterOptionHeight, 0 $filterOptionHeight);
                &:hover {clip-path:none}
    
                &:hover > * {
                    transform: translateY(0);  //add a directive for . onmouse leave , to wait a lil bit before closing the dropdown on mouseleave 
                    border-bottom:1px solid #114d05;
                }
            
                &__filterOption {
                    height: $filterOptionHeight;
                    z-index:  3000 ;
                    transition: all .2s ease-out;
                    cursor: pointer;
                    padding: 1rem 4rem;
                    border-radius: 3px;
                    color:white;
                    background-color: #2d8568;
                    border:1px solid transparent;
                    text-align: center;
                    @include flexCenter;
                    border-bottom:1px solid transparent;
                    position: relative;

                }

            }

        }


    }


        
    @for $i from 2 through 13 {
        .monthFilter__option:nth-child( #{$i} ) {
            transform: translateY(calc((#{$i} * #{$filterOptionHeight * -1})  + 4rem ));
            z-index: calc( 3000 - #{ $i } ) !important;
        }
    }

    
    @for $i from 2 through 5 {
        .yearFilter__option:nth-child( #{$i} ) {
            transform: translateY(calc((#{$i} * #{$filterOptionHeight * -1}) + 4rem ));
            z-index:  calc( 3000 - #{ $i } ) !important;
        }
    }


}



.optionSelected {
    background-color: #852d3c !important;
}


.showFilter {
    transform: translateY(0%);
    margin-bottom: 2rem;
}


.hideElement {
    opacity: 0.5 !important;
    cursor: not-allowed !important;
}



.rightBorder {
    width: 1px;
    position: absolute;
    top:0;
    right:-0.85px;
    background-color: black;

}






















