@import 'src/variables.scss' ;

* {
    // border: 1px solid black;
}

.container {
    z-index: 99999;
    // position: absolute;
    position: fixed;
    top:0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 0, 0, 0.479);
    @include flexCenter;
}



.form {
    border-radius: 5px;
    background-color: $lightColor-main ;
    font-size: 1.3rem;
    border:1px solid rgba(0, 0, 0, 0.363);
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    flex:0 0 66%;

    &__ExitLogo-container {
        position: relative;
        height: 3rem;
    }

    &__ExitLogo {
        position: absolute;
        top: -50%;
        right: -3%;
        height: 2rem;
        width: 2rem;
        align-self: flex-end;
        cursor: pointer;
    }


    &__body {
        white-space: nowrap;
        @include flexCenter;
        align-items: stretch;
        & > *:not(:last-child) { margin-right: 3rem; }

        & > *:not(.form__vertical-line) {
            flex: 1 0 25%;
        }
    }

    &__select {
        cursor: pointer;
        & option {
            cursor: pointer;
            font-size: 1.4rem;
        }
    }

    &__vertical-line {
        border-right: 1px solid rgba(128, 128, 128, 0.24);
        height: 20rem;
        align-self: center;
    }

    &__radioButton {
        cursor: pointer;
    }

    &__footer {
        margin-top: 2rem;
        margin-bottom: 2rem;
        @include flexCenter;
        position: relative;

        &__deleteButton{
           position: absolute;
           right:-3%;
           top: 157%;
        }
    }


} //form



.f {
    background-color: red;
    border:1px solid black;
    width: 10rem;
}


.textareaFormGroup {
    display: flex;
    flex-direction: column;

    & label  {
        align-self:center;
        margin-bottom: 1.4rem;
    }
    
    & textarea {
        resize: none;
        padding: 1rem;
    }
}



.SelectType {
    display: flex;
    flex-direction: column;

    &__text {
        align-self: center;
    }

    &__optionsWrapper {
        margin-top: 1.4rem;
    }

    &__option {
        transition: all 0.2s;
        cursor: pointer;
        padding: 1rem 2rem;
        background-color: #d0ffc6;
        border:1px solid transparent;
        &:not(:last-child) { margin-bottom: .5rem; }

        &:hover {
            background-color: #c6d9ff ;
        }
        
    }

}

.option-selected {
    background-color: #c6d9ff !important;
    border:1px solid #003bb3 !important;
}


.alreadySent {
    display: flex;
    flex-direction: column;

    &__text {
        margin-bottom: 1.4rem;
        align-self: center;
    }

    &__option {
        text-align: center;
        transition: all 0.2s;
        cursor: pointer;
        padding: 1rem 2rem;
        background-color: #d0ffc6;
        border:1px solid transparent;
        &:not(:last-child) { margin-bottom: .5rem; }

        &:hover {
            background-color: #c6d9ff ;
        }
    }
}



// buttons ###############################################################################################################################



.disable-button {
    filter:opacity(60%);
    cursor: not-allowed;

    &:hover {
        border-color:transparent;
    }
}


.removeTaskButton {
    background:linear-gradient(to bottom, #c94d4d 5%, #c94d4dcb 100%);
    color: white;
    text-shadow: none;
    box-shadow: none;
    font-size: 1rem;
	padding:4px 20px;

    
    &:not(.disable-button):hover {
        border:2px solid pink;
        // fons-size : 
    }


}

// #######################################################################################################################################


.popupContainer {
    position: fixed;
    top:0;
    right:0;
    height: 100vh;
    width: 100vw;
    @include flexCenter;
    background-color:  rgba(0, 0, 0, 0.623);
}

.popup__body {
    margin-bottom: 33rem;
    border-radius: 7px;
    font-size: 1.5rem;
    background-color:pink;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 3rem;

    &__question {
        margin-bottom: 2rem;
    }

    &__optionsContainer {
        display: flex;
        align-items: center;
        justify-content: center;

    }
    
    &__button {
        &:first-child { margin-right: 3rem; }
        font-size: inherit;

    }

    
    

}



