
<form class="form"  (clickOutside)='onExitEntryView($event)'>
    <div class="form__exitIconWrapper">
        <svg class="form__exitIcon" (click)='onExitEntryView($event)'>  <use xlink:href="/assets/symbol-defs.svg#icon-clear"></use> </svg> 
    </div>

    <div class="form__body">
        <div class="selectType">
            <p class="selectType__text label"> Select Type : </p>
            <div class="selectType__optionsWrapper">
                <div class="selectType__option" [ngClass]= "{ 'selectType__option-selected' : taskType === 'transaction' }" (click)="taskType ='transaction'">  Transaction</div>
                <div class="selectType__option" [ngClass]= "{ 'selectType__option-selected' : taskType === 'shoes' }"       (click)="taskType ='shoes'" >       Shoes Collected</div>
                <div class="selectType__option" [ngClass]= "{ 'selectType__option-selected' : taskType === 'watch' }"       (click)="taskType ='watch'" >       Watch Collected</div>
                <div class="selectType__option" [ngClass]= "{ 'selectType__option-selected' : taskType === 'other' }"       (click)="taskType ='other'" >       Other Item Collected</div>
                <div class="selectType__option" [ngClass]= "{ 'selectType__option-selected' : taskType === 'shipment' }"    (click)="taskType ='shipment'" >    Shipment</div>
            </div>
        </div>


        <div class="seperationLine"></div>


        <div class="formGroup textareaFormGroup">
            <label class="label" for="details"> Details : </label>
            <textarea id="details" rows="2" cols="30" [(ngModel)]='details' name="detailsInput" placeholder="describe the task">
            </textarea>
        </div>


        <div class="seperationLine"></div>


        <div class="alreadySent">
            <p class="alreadySent__text label"> Already Sent ? </p>
            <div class="alreadySent__option" [ngClass]="{'alreadySent__option-selected' : alreadySent }"        (click)="alreadySent = true" > Yes </div>
            <div class="alreadySent__option" [ngClass]="{'alreadySent__option-selected' : !this.alreadySent }"  (click)="alreadySent = false" > Not Yet </div>
        </div>

    </div>
            
    <div class="form__footer">
        <button type="button" class="defaultButton form__footer__addButton" 
        [ngClass]="{ disableButton : !formValid}" (click)='onAddTask()'>   {{ modifyEntryView ? 'Update Task' : 'Add New Task' }} </button>

        <button type="button" class="removeEntryButton  defaultButton  form__footer__deleteButton" 
        *ngIf='modifyEntryView; else temp' (click)='onDeleteTask()'>  Delete Task Permanently </button>
        <ng-template #temp></ng-template>
    </div>
    
</form>



<app-are-you-sure-you-wanna-exit></app-are-you-sure-you-wanna-exit>




