@import 'src/mixins.scss' ;
@import 'src/variables.scss' ;


@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



html {
    font-family: 'Roboto Mono', monospace;
    font-size: 58%;  /* this is the root font-size ! | and = 62.5% of the default browser font-size which is usually 16px ==> final value 10px */ 
    // this is the font size for normal text. ==> 1rem
    // 58% ==>    1rem    =  9.2px
    //            3.4 rem   = 32px
    // 

    @include respond(tab-port) { font-size: 50% }
    @include respond(phone) { font-size: 40% }
}





svg {
    outline: none !important;
}



@keyframes resetAllButtonOnClick {
    1% { border:2px solid rgba(255, 255, 255, 0);}
    99%  { border:2px solid red;}
}


// Layering : z indexes
//  component : Tasks
/* 
login-page : 300
side nav : 200
header : 100
filter : 90
table : 80;
*/


// global utility classes






//  ###################################################     FILTER STUFF    ###############################################################################

.filterContainer {
    background:linear-gradient(to bottom, #e5bab244 5%, #bb8c83 100%);
    box-shadow: 2px 2px 2px 0px rgba(189,134,189,1);
    z-index: 90;
    
    transition: .5s ease-out;
    margin-bottom: -4rem;
    
    font-size: 1.3rem;
    border-radius: 5px;
    padding: 2rem 5rem;
    padding-top:0;
    height:11rem;
    display: flex;
    flex-direction: column;
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    transform: translateY(-156%);
    @include respond(phone) {
        margin-bottom: -9rem;
        transform: translateY(-160%);
        font-size: 1.2rem;
        padding: 1rem 1.25rem;
        height: 13.5rem;   //added
        align-self: flex-start;
    }

        
    &-showFilter {
        transform: translateY(22%);
        margin-bottom: 5rem;
        @include respond(phone) { margin-top: 5rem }  
    }


    .filterHeader {
        position: relative;
        margin-bottom: 4rem;
        // background-color: red;
        @include respond(phone) {  //added
            margin-bottom: 6rem;
        }

        &__exitIcon {
            position: absolute;
            top: 0%;
            right: -6%;
            height: 2rem;
            width: 2rem;
            cursor: pointer;
            @include respond(phone) {
                top: -40%;
                right: -1.5%;
                height: 4rem;
                width: 4rem;
            }

        }
    
        &__resetAllButton {
            padding:.5rem 1rem;
            background-color: transparent;
            border:1px solid black;
            color: red;
            font-family: inherit;
            font-weight: bold;
            letter-spacing: 2px;
            text-transform: uppercase;
            border-radius: 3px;
            position: absolute;
            top:28%;
            left: -5%;
            cursor: pointer;
            border:2px solid red;
            outline:none;
            &:active {
                -webkit-animation: resetAllButtonOnClick 2s;
                        animation: resetAllButtonOnClick 2s;
                -webkit-animation-timing-function: ease-out;
                        animation-timing-function: ease-out; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
            }
            
            @include respond(phone) {  //added
                left: 0%;
                padding:.65rem .9rem;
                font-size: 1.2rem;
            }

        }
    }

    // %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
        
    .filterBody {
        white-space: nowrap;
        display: flex;
        align-items: stretch;
        & > *:not(:last-child) { 
            margin-right: 3rem;
            @include respond(phone) { margin-right: 1.5rem }
        }
            
        .filterCatWrapper {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: stretch;
            
            &__trashBinLogo {
                height:2rem;
                width:2rem;
                position: absolute;
                fill: darken(white , 8%);
                top:0;
                right:0;
                transition: all 0.2s;

                &:hover {
                    fill:rgb(214, 54, 54);
                }
            }

                    
            .filterOptionsWrapper {
                display: flex;
                flex-direction: column;
                position: relative;
                transition: all 1s;
                -webkit-clip-path: polygon(0 0, 100% 0, 100% $filterOptionHeight, 0 $filterOptionHeight);
                        clip-path: polygon(0 0, 100% 0, 100% $filterOptionHeight, 0 $filterOptionHeight);
                &:hover {-webkit-clip-path:none;clip-path:none}
    
                &:hover > * {
                    transform: translateY(0);  //add a directive for . onmouse leave , to wait a lil bit before closing the dropdown on mouseleave 
                    border-bottom:1px solid #114d05;
                }
            
                &__filterOption {
                    height: $filterOptionHeight;
                    z-index:  3000 ;
                    transition: all .2s ease-out;
                    // transition: all 0s ease-out;
                    cursor: pointer;
                    padding: 1rem 4rem;
                    border-radius: 3px;
                    color:white;
                    background-color: #2d8568;
                    border:1px solid transparent;
                    text-align: center;
                    @include flexCenter;
                    border-bottom:1px solid transparent;
                    position: relative;

                }

            }

        }
    }

}

.filterOptionSelected { background-color: #852d3c !important }




//  ###################################################     TABLE STUFF    ###############################################################################


.editIconCell {
    border: none !important;
    background-color: $lightColor-main;
    border-right: none;

    &__editTaskIcon {
        cursor: pointer;
        height: 1.8rem;
        width: 1.8rem;
        margin-left: -.5rem;
        @include respond(phone) { margin-left: -2.5rem }
        fill : rgba(255, 0, 0, 0.26);
        @include respond(tab-land) { fill : rgba(255, 0, 0, 1)}
        transition: all .2s;
    }
}
tr:hover .editIconCell__editTaskIcon { fill : rgba(255, 0, 0, 1) }


.table tr:last-child td:first-child { border-bottom: none }

tr td { text-align: center }


.table td, .table th {
    border: 1px solid $mediumColor-darker;
    padding: .5rem 1rem;
}


// #####################################################        UTILITY CLASSES     #####################################################################


.element-Unclickable {
    pointer-events: none !important;
    // border: 4px solid yellow !important;
}



.hideElementFromGuestUser {
    opacity: 0.5 !important;
    cursor: not-allowed !important;
}



.rightBorder {
    width: 1px;
    position: absolute;
    top:0;
    right:-0.85px;
    background-color: black;
}



// #####################################################       ALL BUTTONS RELATED     #####################################################################

.defaultButton {
    cursor: pointer;
	box-shadow: 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #e4dfdf 5%, #ddd6d6 100%);
	// background-color:#f9f9f9;
	border-radius:6px;
	cursor:pointer;
	color:#666666;
	text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
    align-self: center;
    transition: all 0.1s;
    border:2px solid transparent;
    &:hover { border:2px solid rgba(255, 0, 0, 0.562) }
    outline: none;
	padding:6px 24px;
    @include respond(phone) {padding:3px 12px}
}



.removeEntryButton {
    background:linear-gradient(to bottom, #c94d4d 5%, #c94d4dcb 100%) ;
    color: white ;
    text-shadow: none;
    box-shadow: none;
    font-size: 1rem;
    padding:4px 20px;
    letter-spacing: 1px;
    @include respond(phone) {
        font-size: 1.3rem;
        padding:2px 10px;
    }

    &:not(.disableButton):hover { border:2px solid pink }
}




.disableButton {
    -webkit-filter:opacity(60%);
            filter:opacity(60%);
    cursor: not-allowed;
    &:hover { border-color:transparent }
}



.saveButton[disabled] {
    opacity: 0.65;
    cursor: not-allowed;
    &:hover { border-color: transparent }
}
