/* You can add global styles to this file, and also import other style files */

// @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300;1,700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
// <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital@1&display=swap" rel="stylesheet">


@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');



@import 'src/mixins.scss' ;






// <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap" rel="stylesheet">


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



html {
    font-family: 'Roboto Mono', monospace;
    font-size: 58%;  /* this is the root font-size ! | and = 62.5% of the default browser font-size which is usually 16px ==> final value 10px */ 
    // this is the font size for normal text. ==> 1rem
    // 58% ==>    1rem    =  9.2px
    //            3.4 rem   = 32px
    // 

    @include respond(tab-port) { font-size: 50% }
    @include respond(phone) { font-size: 40% }
}



.red {
    background-color: red;
}




.Tasks-default-btn {
    cursor: pointer;
	box-shadow: 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #e4dfdf 5%, #ddd6d6 100%);
	// background-color:#f9f9f9;
	border-radius:6px;
	cursor:pointer;
	color:#666666;
	text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
    align-self: center;
    transition: all 0.1s;
    border:2px solid transparent;
    &:hover { border:2px solid rgba(255, 0, 0, 0.562) }
    outline: none;
	padding:6px 24px;
    @include respond(phone) {padding:3px 12px}

    

}


svg {
    outline: none !important;
}



@keyframes resetAllButtonOnClick {
    1% { border:2px solid rgba(255, 255, 255, 0);}
    99%  { border:2px solid red;}
}




// Layering : z indexes
//  component : Tasks

/* 
login-page : 300
side nav : 200
header : 100
filter : 90

table : 80;




*/



// global utility classes


.element-Unclickable {
    pointer-events: none !important;
    // border: 4px solid yellow !important;
}

















